.App {
  text-align: center;
}

.title-container {
  margin: 0 auto;
  padding: 20px 20px; /* Adjust the padding as needed */
  border-radius: 10px; /* Add rounded corners to the box */
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  color: #ff4d4d;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 25px;
  text-align: center;
}

.header-icons {
  float: right;
  margin-top: 25px;
  margin-right: 40px;
}

.icon {
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #ffecda;
  transition: color 0.3s;
}

.icon-link:hover .icon {
  color: #ff4d4d;
}
