.lcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lrow {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Adjust the margin for spacing between rows */
}

.lcard {
  display: flexbox;
  width: 400px; /* Set your desired card width */
  height: 250px; /* Set your desired card height */
  background: linear-gradient(to right, #d4eaf7, #b6ccd8);
  border-radius: 10px;
  margin: 15px; /* Adjust the margin for spacing between cards */
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth scaling */
}

.lcard:hover {
  transform: scale(1.1); /* Scale up the card on hover */
}

.card-heading {
  font-size: 20px;
  font-weight: 400;
  margin: 15px;
  letter-spacing: 0.4px;
}

.lrow.blur {
  filter: blur(5px); /* Adjust the blur amount as needed */
}
