/* Landscape.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Adjust the margin for spacing between rows */
}

.card {
  width: 400px; /* Set your desired card width */
  height: 250px; /* Set your desired card height */
  border: 2px solid rgb(38, 50, 90); /* Thick box border */
  margin: 15px; /* Adjust the margin for spacing between cards */
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth scaling */
}

.card:hover {
  transform: scale(1.1); /* Scale up the card on hover */
}
