.lcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lrow {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.lcard {
  display: flexbox;
  width: 400px;
  height: 250px;
  background: #292e3b;
  border-radius: 10px;
  margin: 15px; /* Adjust the margin for spacing between cards */
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth scaling */
  cursor: pointer;
}

.lcard:hover {
  transform: scale(1.1); /* Scale up the card on hover */
}

.card-heading {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  letter-spacing: 0.4px;
  color: #ffecda;
}

.card-description {
  font-size: 14px;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  text-align: center;
  color: #ffecda;
}

.expand {
  font-size: 12px;
  margin-top: 0px;
  color: #ff4d4d;
  font-weight: bold;
}
.lrow.blur {
  filter: blur(5px); /* Adjust the blur amount as needed */
}

.logo-frame {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  gap: 25px;
}

.logo {
  border-radius: 50%;
  border: 1px solid #00668c;
  width: 45px;
  height: 45px;
}
