.imgcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.imgcard {
  display: flex;
  background: linear-gradient(to right, #2c3a4f, #292e3b);
  flex-direction: column;
  margin-bottom: 0;
}

.imgcard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #ffecda;
  font-family: "Chakra Petch", sans-serif;
}

.imgcard-bottom {
  flex-grow: 1;
  display: flexbox;
  align-items: center;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.button {
  font-size: 24px;
  margin-right: 10px;
}
button:hover {
  color: #ff4d4d;
}
