.imgcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.imgcard {
  display: flex;
  background: linear-gradient(to right, #f5f4f1, #b6ccd8);
  flex-direction: column;
  margin-bottom: 0;
}

.imgcard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
}

.content-container {
  display: block;
  margin: 0;
}

.content-container > div:first-child {
  flex: 90%;
}

.content-container > div:last-child {
  flex: 10%;
  align-items: right;
}
.imgcard-bottom {
  flex-grow: 1;
  align-items: center;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.button-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.button-image {
  height: 30px; /* Adjust the size as needed */
  width: 30px; /* Adjust the size as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
}
